@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    gap: 15px;
  }

  .headerLeft {
    justify-content: center;
  }

  .logo img {
    max-width: 120px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .header-address {
    padding: 10px;
  }

  .header-address p {
    font-size: 15px;
  }

  .header-address h3 {
    font-size: 15px;
  }

  .search-box button {
    padding: 10px;
  }

  .search-box {
    border-radius: 8px;
  }

  .header-btn {
    position: fixed;
    bottom: 0px;
    width: 70%;
    background-color: white;
    justify-content: center;
    border-radius: 100px;
    margin-bottom: 5px;
    margin-inline-start: 3rem;
    height: 40px;
    border: 3px solid rgb(12, 131, 31);
  }

  .header-btn button {
    position: relative;
    bottom: px;
  }

  .header-btn button:last-child {
    background-color: transparent;
    color: black;
  }

  .fa-cart-shopping {
    color: rgb(12, 131, 31);
  }

  /*
 .bannerSection {
   display: none;
 }
 */

  .cart-count {
    position: relative;
    top: -16.5px;
    right: 76px;
    padding: 0.8px 4.1px;
  }
}
