* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 1000;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

header {
  display: flex;
  align-items: center;
  gap: 40px;
  border-top: 1px solid#ccc;
  border-bottom: 1px solid#ccc;
}

.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  border-right: 1px solid #ccc;
  cursor: pointer;
}

.logo img {
  max-width: 130px;
  margin-right: 30px;
  margin-left: 40px;
}

.header-address {
  padding: 20px 30px;
}

.header-address h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.header-address p {
  font-size: 14px;
}

.search-box {
  flex-grow: 1;
  display: flex;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.search-box button {
  padding: 15px;
  border: none;
  background-color: transparent;
}

.search-box input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
}

.search-box input:focus {
  outline: none;
}

.header-btn {
  display: flex;
  gap: 40px;
  margin-right: 40px;
}

.header-btn button {
  font-size: 16px;
  padding: 15px;
  background-color: transparent;
  border: none;
}

.header-btn button:last-child {
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgb(12, 131, 31);
}

.header-btn button:last-child:hover {
  cursor: pointer;
}

.header-btn button:first-child {
  font-weight: bold;
}

.header-btn button:first-child:hover {
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: 18px;
  right: 118px;
  background: #ff0000;
  color: #fff;
  border-radius: 50%;
  font-size: 12px;
  padding: 0.8px 4px;
}

.bannerSection {
  max-width: 1280px;
  margin: auto;
}

.bannerSection img {
  width: 100%;
}
